@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1A778688-E70F-4981-B3CB-BB861AD95FCD

@goaigua:registry=https://nexus.dev.idrica.pro/repository/npm-group/
//nexus.dev.idrica.pro/repository/npm-group/:_authToken=NpmToken.ca906edb-b230-33ba-9eb8-ddb4292b53ec
